.main
{
	margin-top:88px;
	background-color: #1C1D1F;
	padding: 0px 0px;
	color: #45BBFF;
	text-align: center;
}

.image img
{
	max-width:100%;
}

.margin
{
	margin-top: 30px;
}

.main .description
{
	text-align: justify;
}

.fa
{
	font-size: 4em;
	margin-bottom: 10px;
}

#map_canvas
{
	margin: 0 auto;
	margin-bottom: 50px ;
}

h1
{
	margin-bottom: 0;
}

h4
{
	margin: 0;
}

.fa-users, .fa-usd, .fa-plus-circle, .fa-minus-circle, .fa-sign-in, .fa-refresh
{
	font-size: 1em;
}


.row a
{
	width: 100%;
}

.btn-group a
{
	font-size: 1.5em;
	font-weight: bold;
	color: #1C1D1F;
}

#comments button
{
	margin-top: 20px;
	width:100%;
}

progress {
	width: 50%;
	height: 14px;
	margin: 0px auto;
	margin-bottom: 20px;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #45BBFF, #30AE3A);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

/* Prefix-free was creating issues with the animation */