.main
{
	margin-top:100px;
	background-color: #1C1D1F;
	padding: 0px 0px;
	color: #45BBFF;
	text-align: center;
}

.main img
{
	max-width:100%;
}

.main .infos
{
	padding: 0px 40px;
}

.main .description
{
	text-align: justify;
}

.main .date
{
	
	float: right;
}

.main .place
{
	float: left;
}